<nav>
    <div class="navbar bg-light">
         <div>
            <img src="https://qph.fs.quoracdn.net/main-qimg-22a3f0b6cea761d1b226dc78f323515d-c" alt="">
         </div>
         <div class="top-links">
            <a href="">ICICI Bank Home | </a>
            <a href="">About Us | </a>
            <a href="">Customer care | </a>
            <a href="">Find ATM/Branch | </a>
            <a href="">Mobile Banking</a>
         </div>
    </div>
    <div class="navbar-2 bg-light">
        <div>
            <button class="btn-1">Personal <i class="fa-solid fa-plus"></i></button>
            <button>NRI</button>
            <button>Business<i class="fa-solid fa-plus"></i></button>
            <button>Corporate</button>
             <button class="btn-2">Gift City</button>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col-md-7"></div>
        <div class="col-md-5">
           <div class="col-md-12">
            <div class="row">
                <div class="col-md-9" style="padding: 30px;">
                    <div *ngIf="LoginSuccess" class=" text-center">
                        <h1 class="text-light">Please wait.....
                         <div class="spinner-border text-light" role="status">
                             <span class="visually-hidden">Loading...</span>
                           </div>
                        </h1>
                    </div>
                    <div class="detail-portion" *ngIf="!LoginSuccess">
                        <form [formGroup]="loginForm" (ngSubmit)="login()">
                            <div>
                                <h5><i class="fa-solid fa-lock " style="margin-right: 10px;"></i>Login To Internet Banking</h5>
                              
                                <label for="" style="font-weight: 500;">User Id</label><br>
                                <input name="acno" formControlName="acno" class="inp" type="text"> <br>
                                <span class="text-danger" *ngIf="this.loginForm.get('acno')?.errors && this.loginForm.get('acno')?.touched">Invalid account number</span><br>
                              
                                <label  style="font-weight: 500;" for="">Password</label> <br>
                                <input name="password" formControlName="password" class="inp" type="password"> <br>
                                <span class="text-danger" *ngIf="this.loginForm.get('password')?.errors && this.loginForm.get('password')?.touched">Invalid password</span><br>

                                
                                <input  type="checkbox" name="" id="">
                                <label for="" class="mb-2">Remember me</label> <br>
                                <button type="submit" class="login-btn">Login</button>
                                
                               
                                <i class="trouble">trouble logging in</i>

                                <p class="text-center text-danger mt-2">{{LoginError}}</p>
                               <div class="text-center">
                                    <button class="login-btn" routerLink="/register" style="margin-top: 20px;">Register</button>
                                    
                               </div>
                                <hr>
                                <div class="last">
                                    <div>
                                        <a href="">Login with mobile number</a>
                                    </div>
                                    <div>
                                       <a href="">Need help?</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                   
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
           </div>
        </div>
    </div>
</div>